@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<div class="main">
    <div class="content px-4">

        <BlazoredToasts Position="ToastPosition.TopCenter" Timeout="10" IconType="IconType.FontAwesome"
                        SuccessClass="success-toast-override" SuccessIcon="fa fa-thumbs-up" ErrorIcon="fa fa-bug">

        </BlazoredToasts>

        @Body
    </div>
</div>
