@for (int i = 100; i < 300; i += 50)
{
    <div class="raisebuttonRow">
        @for (int j = 10; j < 60; j += 10)
        {
            var tempInt = i + j;
            <button class="raiseButton" name="button-@(i+j)" disabled="@IsDisabled(i+j)" @onclick="@(() => Bet(tempInt))">@(i + j)</button>
        }
    </div>
}

<button id="giveupButton" @onclick="GiveUpAuction">GiveUpAuction</button>

@code {
    [CascadingParameter] public Game Game { get; set; }
    [Parameter] public int lastHighest { get; set; }

    private bool IsDisabled(int i)
    {
        if (lastHighest < i)
        {
            return false;
        }

        return true;
    }

    void Bet(int points) => Game.hubConnection.SendAsync(ClientToServer.BET, points);

    void GiveUpAuction() => Game.hubConnection.SendAsync(ClientToServer.GIVE_UP_AUCTION);
}
