@if (Cards.Count() != 0)
{
    @foreach (var card in Cards)
    {
        <Card CardModel="card"></Card>
    }
}
else
{
    @for (int i = 0; i < 3; i++)
    {
        <!--<div id="cardContainer">-->
        <img class="cardBack" src="/images/rewers2.png" />
        <!--</div>-->
    }
}

@code {
    [CascadingParameter] public Game Game { get; set; }
    [Parameter] public List<CardModel> Cards { get; set; }
}
