@if (currentMandatory != Suit.None)
{
    <div id="mandatoryContainer">
        <div id="mandatoryText">Mandatory: </div>
        <img src=@getImgLink(currentMandatory) id="mandatoryImage" />
    </div>
}

@code {
    [Parameter] public Suit currentMandatory { get; set; }

    private string getImgLink(Suit suitOfMandatory)
    {
        return "/images/" + suitOfMandatory.ToString().ToLower() + ".ico";
    }
}
