@if (currentMandatory != Suit.None)
{
    <div>Mandatory: </div>
    <img src=@getImgLink(currentMandatory) id="currentMandatory" />
}

@code {
    [Parameter] public Suit currentMandatory { get; set; }

    private string getImgLink(Suit suitOfMandatory)
    {
        return "/images/" + suitOfMandatory.ToString().ToLower() + ".ico";
    }
}
