@for (int i = 110; i <= 300; i = i + 10)
{
    var tempInt = i;
    <button class="raiseButton" disabled="@IsDisabled(i)" @onclick="@(() => RaisePointsToAchieve(tempInt))">@i</button>
}

<button id="giveupButton" @onclick="DontRaisePointsToAchieve">DontRaisePoints</button>

@code {
    [CascadingParameter] public Game Game { get; set; }
    [Parameter] public int playerBet { get; set; }

    bool IsDisabled(int i)
    {
        if (playerBet < i)
            return false;

        return true;
    }

    void RaisePointsToAchieve(int points) => Game.hubConnection.SendAsync(ClientToServer.RAISE_POINTS_TO_ACHIEVE, points);

    void DontRaisePointsToAchieve() => Game.hubConnection.SendAsync(ClientToServer.DONT_RAISE_POINTS_TO_ACHIEVE);
}
