@for (int i = 100; i < 300; i += 50)
{
    <div class="raisebuttonRow">
        @for (int j = 10; j < 60; j += 10)
        {
            var tempInt = i + j;
            <button class="raiseButton" disabled="@IsDisabled(i+j)" @onclick="@(() => RaisePointsToAchieve(tempInt))">@(i+j)</button>
        }
    </div>
}

<button id="giveupButton" @onclick="DontRaisePointsToAchieve">Pass</button>

@code {
    [CascadingParameter] public Game Game { get; set; }
    [Parameter] public int playerBet { get; set; }

    private bool IsDisabled(int i)
    {
        if (playerBet < i)
            return false;

        return true;
    }

    void RaisePointsToAchieve(int points) => Game.hubConnection.SendAsync(ClientToServer.RAISE_POINTS_TO_ACHIEVE, points);

    void DontRaisePointsToAchieve() => Game.hubConnection.SendAsync(ClientToServer.DONT_RAISE_POINTS_TO_ACHIEVE);
}
