@foreach(var player in Players)
{
    <p>@player.Name, @player.Points points, @player.PointsInCurrentRound, @player.PointsToAchieve</p>
}

@code {
    [Parameter] public List<UserModel> Players { get; set; }
}
