@foreach(var player in Players)
{
    <span class="playerPoints">@player.Name, @player.Points points, @player.PointsInCurrentRound roundPoints, @player.PointsToAchieve toAchieve</span>
}

@code {
    [Parameter] public List<UserModel> Players { get; set; }
}
