@page "/1"

<div class="row">
    <div class="col-9">
        <div style="border: dotted; min-height: 90vh; width: inherit;
                justify-content: center; display: flex; align-items: center">

            <div id="resultTable" style="border: dotted; width: 20%; height: 100px; display: block; position: absolute; 
                margin-left: auto; margin-right: auto; top: 10px">
                @for (int i = 0; i < 3; i++)
                {
                    <div> :  pkt</div>
                }
            </div>

            <div style="border: solid; width: 95%; height: 250px">
                <div style="border: dotted; width: 10%; height: 200px; margin-left: 10px; display: inline-block; position: relative">

                </div>

                <div style="border: dotted; width: 40%; height: 200px; display: inline-block; position: relative; margin-left: 200px; margin-bottom: 10px">

                </div>

                <div style="border: dotted; width: 10%; height: 200px; margin-left: 200px; display: inline-block; position: relative">

                </div>
            </div>

            <div style="border: dotted; width: 70%; height: 200px; position: absolute;
                bottom : 10px; margin-left: auto; margin-right: auto; display: block">
                <div class="row">
                    @for (int i = 0; i < 10; i++)
                    {
                        <div style="border: solid; width: 80px; height: 120px;"></div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <p>Chat here</p>
    </div>
</div>

@code {

}

