@page "/"
@inject NavigationManager  NavigationManager

<CascadingValue Value="this.hubConnection">
    <div id="gameFrame">
        @if (!joined)
        {
            <WaitingRoom></WaitingRoom>
        }
        else
        {         
            <Game UserName="@UserName" Users="Users"></Game>
            <ResultsAndChat UserName="@UserName" Users="Users"></ResultsAndChat>
        }
    </div>
</CascadingValue>


@code {
    public HubConnection hubConnection;

    public bool joined = false;

    public List<UserModel> Users = new List<UserModel>();
    public string UserName; 

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/apphub"))
            .Build();


        hubConnection.On(ServerToClient.RECEIVE_LEAVE_ROOM, () =>
        {
            joined = false;
            UserName = null;

            Users = new List<UserModel>();
            StateHasChanged();
        });

        hubConnection.On<List<UserModel>>(ServerToClient.RECEIVE_USERS, (List<UserModel> users) =>
        {
            this.Users = users;
            StateHasChanged();
        });

        hubConnection.On<string>(ServerToClient.RECEIVE_JOIN_ROOM, (string UserName) =>
        {
            joined = true;
            this.UserName = UserName;

            StateHasChanged();
        });

        await hubConnection.StartAsync();
    }
}
