* {
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: var(--black);
}

/* Div class "main", is the whole website, besides errors. Don't use any styles on it.
 * Div class "content px-4" is the container for actual content. Don't put any style on it either.
 * 
 * added classes:
 * form, 
 * added IDs:
 * loginContainer, roomBrowser, singleRoomContainer, roomCreator
*/
/* Login.razor style */

html, body {
    --main: rgb(51, 173, 255);
    --main_t: rgb(51, 173, 255, 0.5);
    --side: rgb(222, 245, 255);
    --side_t: rgb(222, 245, 255, 0.5);
    --border: #0065d8;
    --white: rgb(253, 247, 236);
    --white_t: rgb(253, 247, 236, 0.8);
    --black: #0B0500;
    --black_t: rgba(11, 5, 0, 0.2);
    --red: rgba(254, 94, 65, 1);
    --red_t: rgba(254, 94, 65, 0.5);
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background: var(--white);
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
    background: var(--border);
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--main); 
}

button {
    background-color: var(--black_t);
    color: var(--white);
    border: none;
    border-radius: 1rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    height: 2.4rem;
    width: 100%;
    transition: .2s;
    display: block;
    margin: 0 auto;
}

button *{
    line-height: 2rem;
}

button img {
    height: 1.4rem;
    margin: .3rem .5rem 0 .3rem;
    float: right;
    transition: .2s;
}

button .not_hover {
    display: inherit;
}

button .hover {
    display: none;
}

button:hover {
    background-color: var(--white_t);
    color: var(--border);
    font-weight: 800;
    border: .2rem var(--border) solid;
    box-shadow: 0 0 1rem var(--white);
}

button:hover .not_hover {
    display: none;
}

button:hover .hover {
    display: inherit;
}

label p{
    margin-left: .5rem;
}

input {
    border: none;
    border-bottom: var(--white) solid .2rem;
    border-radius: 1rem;
    background-color: var(--white_t);
    padding: 1rem;
    margin: 0 0 .3rem 0;
    width: 100%;
    height: 2.5em;
    transition: .2s;
}


input:focus {
    border-bottom: .2rem solid var(--border);
    background-color: var(--white);
    outline: 0;
}


#gameFrame {
    width: 100vw;
    height: 100vh;
    max-height: 100%;
    max-width: 100%;
    background-color: var(--black);
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: 75% 25%;
}

#loginContainer {
    height: 60%;
    min-height: 300px;
    width: 70%;
    min-width: 400px;
    padding: 2rem;
    border-radius: 1rem;
    border: .5rem var(--border) solid;
    box-shadow: 0 0 1rem var(--border);
    color: var(--white);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: var(--main);
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 9rem 20% auto;
    grid-column-gap: 1%;
    grid-row-gap: 1%;
}

#roomCreator {
    display: grid;
    grid-template-columns: 100%;
    grid-column: 1 / span 1;
}

#roomBrowser {
    padding: 1rem 0;
    overflow-y: auto;
    overflow-x: hidden;
    grid-row: 1 / span 3;
    grid-column: 2;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    grid-column-gap: 7px;
}

.singleRoomContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
    background-color: var(--side);
    border-radius: 10px;
    box-shadow: 0 0 .5rem var(--border);
    transition: .2s;
    padding: 1rem;
    margin: 1rem 0;
}

.singleRoomContainer:hover {
    transform: translateY(-1rem);
    transition: .2s;
    box-shadow: 0 0 1rem var(--border);
}

.singleRoomContainer > div {
    margin-top: .5rem;
    text-align: center;
    color: var(--black)
}

.singleRoomContainer:hover > * {
    margin: 0;
    font-size: larger;
    font-weight: bolder;
    box-shadow: -.5rem 1rem .5rem var(--side_t);
}

.gameInfo {
    width: 100%;
    height: 100%;
    grid-row: 2 / span 1;
    grid-column: 1;
    padding: 1rem;
    background-color: var(--side);
    border: .3rem var(--border) solid;
    border-radius: .5rem;
    box-shadow: 0 0 .5rem var(--border);
    text-align: justify;
    overflow-y: auto;
}

.aboutUs {
    width: 100%;
    height: 100%;
    grid-row: 3 /span 1;
    grid-column: 1;
    padding: 1rem;
    background-color: var(--side);
    border: .3rem var(--border) solid;
    border-radius: .5rem;
    box-shadow: 0 0 .5rem var(--border);
    text-align: justify;
    overflow-y: auto;
}

.aboutUs span {
    font-weight: 600;
}

.chooseNickname {
    border-radius: 0 0 1rem 1rem;
    background-color: var(--black);
    border: .2rem var(--border) solid;
    color: var(--white);
    box-shadow: 0 0 .5rem var(--border);
    position: absolute;
    height: 300px;
    margin-top: -150px;
    margin-left: -181px;
    top: 50%;
    left: 50%;
    z-index: 10;
}

.chooseNickname header {
    height: 2rem;
    padding: .5rem 2rem;
    font-size: .8rem;
    font-weight: bold;
    letter-spacing: .3rem;
    text-transform: uppercase;
    background-color: var(--border);
}

.chooseNickname header > .left > span {
    color: var(--side);
}

.chooseNickname header button {
    float: right;
    background-color: var(--main);
    color: var(--red);
    font-size: 2rem;
    width: 2.5rem;
    margin: 0;
    padding: 0;
    border: 0;
    top: 0;
    border-radius: 0;
}

.chooseNickname header button:hover {
    background-color: var(--white);
    font-weight: 600;
    box-shadow: none;
}

.nicknameFormContainer {
    padding: 1rem 2rem;
    margin-top: 3rem;
}

.nicknameFormContainer span {
    color: var(--white);
    text-align: left;
    margin-left: .5rem;
}

.chooseNickname > button {
    background-color: var(--white_t);
    width: 85%;
}

.chooseNickname > button:hover {
    background-color: var(--white);
    color: var(--border);
}

.left{
    float:left;
}

.right{
    float:right;
}


/* Styl ogólny */

#readyScreen {
    background-color: var(--main);
    border-radius: 1rem;
    border: .5rem var(--border) solid;
    box-shadow: 0 0 1rem var(--border);
    grid-row: 6 / span 6;
    grid-column: 9 / span 5;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 30% 80%;
}

    #readyScreen > h2 {
        color: var(--white);
        margin-bottom: .5rem;
        text-align: center;
        display: block;
        grid-row: 1;
        grid-column: 1/span 2;
    }

        #switch {
            position: relative;
            display: inline-block;
            margin-left: 10%;
            width: 90%;
            height: 2.4rem;
        }
      
        #switch input { 
            opacity: 0;
            width: 0;
            height: 0;
        }
      
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: var(--white);
            transition: .2s;
            border-radius: 2rem;
        }
      
        .slider:before {
            position: absolute;
            content: "";
            height: 2.4rem;
            width: 2.4rem;
            background-color: var(--border);
            transition: .2s;
            border-radius: 50%;
        }
        
        input:checked + .slider {
            background-color: var(--white_t);
        }
        
        input:focus + .slider {
            box-shadow: 0 0 1rem var(--border);
        }
        
        input:checked + .slider:before {
            transform: translateX(2.4rem);
        }
      
        

    #readyScreen > button {
        display: inline-block;
        width: 70%;
        /* margin-left: 3.5rem; */
        grid-row: 2;
        grid-column: 2;
    }

.error {
    color: var(--red);
}

.activeBox {
    text-align: center;
    grid-row: 2 / span 2;
    grid-column: 8 / span 6;
}

.activeBox > h1{
    color: green;
    text-align: center;
}


#currentMandatory {
    display: block;
    margin: auto;
    width: 24px;
}

#cardsOnTable {
    min-width: 40%;
    min-height: 200px;
    border: groove;
    display: flex;
    background-color: yellow;
}

.can-drop {
    background-color: var(--side);
    width: 100%;
    height: 100%;
}

.no-drop {
    background-color: var(--red);
    width: 100%;
    height: 100%;
}

#cardContainer {
    height: 10em;
    width: 6em;
    min-width: 80px;
    border-radius: 10px;
    background: var(--white);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    transition: .2s;
    clear: both;
    position: relative;
    margin: 0;
    padding: 0;
}

.cardColorContainer {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding: 0;
}

.cardColorText {
    text-align: center;
    font-weight: bolder;
    font-size: .8em;
}

.smallCardColorImage {
    left: 0;
    top: 0;
    display: block;
    margin: auto;
    width: 1em;
}

.bigCardColorImage {
    display: block;
    margin: auto;
    width: 3em;
}


#raisingPoints {
    position: absolute;
    height: 15rem;
    left: 31%;
    top: 35%;
    z-index: 10;
    display: grid;
    grid-template-columns: 3rem 3rem 3rem 3rem;
    grid-gap: .1rem;
}

.raisebuttonRow:nth-child(1) {
    grid-column: 1 / span 1;
}

.raisebuttonRow:nth-child(2) {
    grid-column: 2 / span 1;
}

.raisebuttonRow:nth-child(3) {
    grid-column: 3 / span 1;
}

.raisebuttonRow:nth-child(4) {
    grid-column: 4 / span 1;
}

#giveupButton {
    background-color: var(--black_t);
    height: 2rem;
    color: var(--white);
    margin-left: auto;
    margin-right: auto;
    margin-top: 4px;
    text-align: center;
    grid-column: 1/span 4;
}

.raiseButton {
    margin-top: 3px;
}

#cardsToTake {
    grid-row-start: 5;
    grid-row-end: 9;
    grid-column-start: 9;
    grid-column-end: 15;
    align-content: end;
    display: flex;
    margin-top: auto;
}

#cardsToTake > #cardContainer {
    margin: .1em;
}

    #cardsToTake > #cardContainer > .cardColorContainer {
        padding: 0.5rem;
    }

.waitingRoom {
    height: 100%;
    width: 100%;
    grid-row: 1 / span 10;
    position: relative;
    grid-column: 1 / span 10;
    background-color: var(--side);
}

.roomName {
    width: 100%;
}

.numOfUsers {
    width: 100%;
}

/* Poniżej jest styl Game.razor */
#mandatory {
    width: 100%;
    height: 100%;
    background-color: var(--side);
    grid-row: 3 / span 2;
    grid-column: 1 / span 3;
}

#resultTable {
    border: dotted;
    width: 100%;
    max-height: 70%;
    min-height: 70%;
    color: white;
    background-color: red;
    grid-row: 1 / span 2;
    grid-column: 17 / span 4;
}

#tableContainer {
    border: solid;
    width: 90%;
    height: 35em;
    background-color: var(--main);
    grid-row: 4 / span 16;
    grid-column: 3 / span 18;
}

.otherPlayer {
    width: 10%;
    height: 100%;
    height: 200px;
    display: inline-block;
    position: relative;
}

    .otherPlayer > .otherPlayerHand > #cardContainer {
        height: 6em;
        width: 10em;
        min-width: 80px;
        border-radius: 10px;
        background: var(--white);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        transition: .2s;
        clear: both;
        position: relative;
        margin: 0;
        padding: 0;
        box-shadow: 0.5em 0 1em var(--black); 
    }
    .otherPlayer > .otherPlayerHand > #cardContainer:not(:first-child) {
        margin-top: -4.5em;
    }

#rightPlayer {
    float: right;
    margin-right: 1%;
    top: 5%;
    transform: scaleX(-1);
}

#leftPlayer {
    float: left;
    margin-left: 1%;
    top: 5%;
}

#table {
    border: dotted;
    background-color: green;
    width: 70%;
    height: 200px;
    display: inline-block;
    position: relative;
    margin: 0 auto;
}

#playerCards {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    overflow-y: hidden;
    padding-top: 20px;
    overflow-x: auto;
    grid-row: 16 / span 7;
    grid-column: 7 / span 8;
}

    #playerCards > #cardContainer {
        box-shadow: -0.5em 0 1em var(--black);
        transition: .2s;
        padding: 1em;
        margin: 0 0 2em;
    }

        #playerCards > #cardContainer:hover {
            transform: translateY(-1em);
        }

        #playerCards > #cardContainer:not(:first-child) {
            margin-left: -3em;
        }

#gameContainer {
    border: dotted;
    display: grid;
    grid-row-start: 2;
    grid-column-end: 2;
    grid-template-rows: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
    grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
}

#gameContainer > button {
    background-color: var(--red_t);
    grid-column: 1/span 3;
    grid-row: 1/span 2;
}

#gameContainer > button:hover {
    background-color: var(--white);
    color: var(--red);
    font-weight: 800;
    border: .2rem var(--red) solid;
}


/* Koniec stylu Game.razor */
/* Poniżej jest styl Chat.razor */


#chatContainer {
    max-height: 100vh;
    grid-row: 1/3;
    grid-column-start: 2;
    display: grid;
    grid-template-rows: 9em auto 8.8em;
    grid-template-columns: 100%;
    background-color: var(--white);
}

#chatContainer h1 {
    font-size: 1.5rem;
    font-weight: normal;
    margin-left: .1rem;
    vertical-align: middle;
    text-align: center;
}

#players {
    padding-bottom: 1rem;
    grid-row: 1;
    display: grid;
    grid-template-rows: 2rem auto;
}

#players h1 {
    grid-row: 1;
}

ul.playerList {
    margin: 0;
    padding: 1em 0 0 0;
    font-size: 1.3rem;
    width: 100%;
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-row: 2;
    grid-column: 1;
}

#messages {
    width: 100%;
    border-top: .1rem solid var(--border);
    border-bottom: .1rem solid var(--border);
    display: block;
    margin: 0 auto;
    overflow-y: auto;
    grid-row: 2;
}

.message {
    min-width: 51%;
    max-width: 80%;
    overflow: auto;
    overflow-wrap: anywhere;
    padding: .5rem;
    display: table;
    flex-direction: column;
    background-color: var(--main_t);
    color: white;
}

#serverMessage {
    background-color: var(--red);
    width: 100%;
    max-width: initial;
    border-radius: 1em;
    text-align: center;
    font-size: smaller;
    color: var(--white);
    margin: .3rem auto .3rem auto;
}

#myMessage {
    text-align: right;
    float: right;
    border-radius: 1em 1em 0 1em;
    padding-right: 1em;
    background-color: var(--main);
}

#othersMessage {
    text-align: left;
    float: left;
    background-color: var(--border);
    border-radius: 1em 1em 1em 0;
    padding-left: 1em;
}

#chatContainer > #form {
    grid-row: 3;
}

#chatContainer > #form button {
    box-shadow: none;
}

#chatContainer > #form label {
    display: block;
    max-width: 90%;
    margin: .5rem auto;
}

#chatContainer > #form input {
    border: .2rem solid var(--border);
    border-radius: 1em;
    background-color: var(--white);
    height: 3em;
    width: 100%;
}

#chatContainer > #form input:focus {
    border: .2rem solid var(--border);
    background-color: var(--white_t);
}

/* Koniec stylu Chat.razor */
