*, *:hover {
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Div class "main", is the whole website, besides errors. Don't use any styles on it.
 * Div class "content px-4" is the container for actual content. Don't put any style on it either.
 * 
 * added classes:
 * form, 
 * added IDs:
 * loginContainer, roomBrowser, singleRoomContainer, roomCreator
*/
/* Login.razor style */

html, body {
    --green: rgb(0, 168, 121);
    --lightgreen: #D8F1A0;
    --white: rgb(253, 247, 236);
    --red: #FE5E41;
    --black: #0B0500;
    margin: 0;
    padding: 0;
    color: var(--black);
}

#gameFrame {
    width: 100vw;
    height: 100vh;
    max-height: 100%;
    max-width: 100%;
    background-color: var(--black);
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: 75% 25%;
}

#loginContainer {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 35% 15% 50%;
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    height: 40%;
    min-height: 300px;
    width: 60%;
    min-width: 400px;
    color: white;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

#roomCreator {
    background-color: var(--black);
    display: grid;
    grid-template-columns: 100%;
    grid-column: 1 / span 1;
}

#roomCreator input {
    border: none;
    border-bottom: var(--white) solid .2rem;
    border-radius: .1em;
    background-color: rgba(253, 247, 236, 0.1);
    padding: .4em;
    margin: 0 0 .3rem 0;
    width: 100%;
    height: 2.5em;
    transition: .2s;
}

#roomCreator input:focus {
    border-bottom: .3rem solid var(--green);
    background-color: var(--white);
}

#roomCreator button {
    background-color: rgba(253, 247, 236, 0.2);
    padding: .2rem;
    color: var(--white);
    border: none;
    border-radius: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
    transition: .2s;
    display: block;
    margin: .1rem auto;
}

#roomCreator button:hover {
    box-sizing: border-box;
    background-color: var(--white);
    color: var(--green);
    border: .1rem var(--green) solid;
    margin: 0 auto;
}

#roomBrowser {
    background-color: var(--black);
    padding: 1rem 0;
    overflow-y: auto;
    overflow-x: hidden;
    grid-row: 1 / span 3;
    grid-column: 2;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    grid-column-gap: 7px;
}

.singleRoomContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: -.5rem 0 .5rem rgba(253, 247, 236,0.3);
    transition: .2s;
    padding: 1rem;
    margin: 1rem 0;
}

.singleRoomContainer:hover {
    transform: translateY(-1rem);
    transition: 0.4s;
    box-shadow: -.5rem 1rem .5rem rgba(0, 168, 121,0.3);
}

.singleRoomContainer > div {
    text-align: center;
    margin-top: .5rem;
    color: var(--black)
}

.singleRoomContainer:hover > * {
    margin: 0;
    font-size: larger;
    color: var(--green);
}

.singleRoomContainer button {
    background-color: rgba(11, 5, 0, 0.1);
    margin-top: .5rem;
    border: none;
    border-radius: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    height: 3rem;
    width: 100%;
    transition: .2s;
    display: block;
    margin: 0 auto;
}

.singleRoomContainer button:hover {
    margin-top: .5rem;
    background-color: var(--white);
    border: .2rem var(--green) solid;
}

.gameInfo {
    width: 100%;
    height: 100%;
    grid-row: 3 / span 1;
    grid-column: 1;
    background-color: var(--black);
}

.aboutUs {
    width: 100%;
    height: 100%;
    grid-row: 2;
    grid-column: 1;
    background-color: var(--black);
}

.chooseNickname {
    background-color: var(--black);
    color: var(--white);
    box-shadow: 0px 0px 2rem rgba(253, 247, 236, 0.3);
    position: absolute;
    height: 300px;
    margin-top: -150px;
    margin-left: -181px;
    top: 50%;
    left: 50%;
}

.chooseNickname header {
    height: 1.5rem;
    padding: .5rem 2rem;
    font-size: .8rem;
    font-weight: bold;
    letter-spacing: .3rem;
    text-transform: uppercase;
}

.chooseNickname header > .left > span {
    color: var(--green);
}

.chooseNickname header button {
    float: right;
    color: var(--red);
    background-color: rgba(253, 247, 236, 0.9);
    font-size: 2rem;
    width: 2rem;
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: middle;
    cursor: pointer;
}

.nicknameFormContainer {
    padding: 1rem 2rem;
    margin-top: 3rem;
}

.nicknameFormContainer input {
    margin-top: 0 1rem;
    padding: .5rem;
    width: 100%;
    border: 0;
}

.chooseNickname > button {
    background-color: rgba(253, 247, 236, 0.9);
    color: var(--green);
    margin-top: .5rem;
    border: none;
    border-radius: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    height: 2rem;
    width: 85%;
    transition: .2s;
    display: block;
    margin: 0 auto;
    bottom: 0;
}

.chooseNickname > button:hover {
    background-color: var(--white);
    border: .2rem var(--green) solid;
    font-weight: bold;
}

/* .nicknameFooter {
    padding: 26px 28px 22px 28px;
    font-size: 0.82em;
}

.joinButton {
    text-decoration: none;
    background-color: var(--green);
    color: black;
    border-radius: 2px;
    padding: 4px 8px;
} */


.left{
    float:left;
}

.right{
    float:right;
}


/* Styl ogólny */

#readyScreen {
    grid-row: 9 / span 3;
    grid-column: 9 / span 5;
    color: white;
    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-columns: 33% 33% 33%;
}

    #readyScreen > h2 {
        margin: 0;
        grid-column: 1 / span 3;
        grid-row: 1 / span 1;
    }

    #readyScreen > input {
        background-color: var(--white);
        display: inline-block;
        width: 100%;
        height: 60%;
        margin-bottom: 100%;
    }

    #readyScreen > button {
        display: inline-block;
        background-color: var(--white);
        width: 80%;
        height: 30%;
        border-radius: 2px;
        border-color: black;
        margin-right: 100%;
        margin-top: 25%;
    }

.error {
    color: red;
}

#currentMandatory {
    display: block;
    margin: auto;
    width: 24px;
}

#cardsOnTable {
    min-width: 40%;
    min-height: 200px;
    border: groove;
    display: flex;
}

.can-drop {
    background-color: var(--lightgreen);
    width: 100%;
    height: 100%;
}

.no-drop {
    background-color: var(--red);
    width: 100%;
    height: 100%;
}

#cardContainer {
    height: 10em;
    width: 6em;
    min-width: 80px;
    border-radius: 10px;
    background: var(--white);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    transition: .2s;
    clear: both;
    position: relative;
    margin: 0;
    padding: 0;
}

.cardColorContainer {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding: 0;
}

.cardColorText {
    text-align: center;
    font-weight: bolder;
    font-size: .8em;
}

.smallCardColorImage {
    left: 0;
    top: 0;
    display: block;
    margin: auto;
    width: 1em;
}

.bigCardColorImage {
    display: block;
    margin: auto;
    width: 3em;
}


#raisingPoints {
    display: grid;
    margin: auto;
    position: absolute;
}

#giveupButton {
    margin-left: auto;
    margin-right: auto;
    margin-top: 4px;
    text-align: center;
}

.raiseButton {
    margin-top: 3px;
}

#cardsToTake {
    grid-row-start: 5;
    grid-row-end: 9;
    grid-column-start: 9;
    grid-column-end: 15;
    align-content: end;
    margin-top: auto;
}

    #cardsToTake > #cardContainer {
        margin: .1em;
        display: inline-block;
    }

.waitingRoom {
    height: 100%;
    width: 100%;
    grid-row: 1 / span 10;
    position: relative;
    grid-column: 1 / span 10;
    background-color: #003333;
}

.roomName {
    width: 100%;
}

.numOfUsers {
    width: 100%;
}

/* Poniżej jest styl Game.razor */
#mandatory {
    width: 100%;
    height: 100%;
    background-color: var(--lightgreen);
    grid-row: 1 / span 2;
    grid-column: 1 / span 4;
}

#resultTable {
    border: dotted;
    width: 100%;
    max-height: 70%;
    min-height: 70%;
    color: white;
    grid-row: 1 / span 2;
    grid-column: 17 / span 4;
}

#tableContainer {
    border: solid;
    width: 90%;
    height: 20em;
    background-color: var(--green);
    grid-row: 9 / span 7;
    grid-column: 3 / span 18;
}

.otherPlayer {
    border: dotted;
    width: 10%;
    height: 200px;
    display: inline-block;
    position: relative;
}

#rightPlayer {
    float: right;
    margin-right: 5px;
}

#leftPlayer {
    float: left;
    margin-left: 5px;
}

#table {
    border: dotted;
    width: 70%;
    height: 200px;
    display: inline-block;
    position: relative;
    margin: 0 auto;
}

#playerCards {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    overflow-y: hidden;
    padding-top: 20px;
    overflow-x: auto;
    grid-row: 17 / span 4;
    grid-column: 7 / span 8;
}

    #playerCards > #cardContainer {
        box-shadow: -0.5em 0 1em var(--black);
        transition: .2s;
        padding: 1em;
        margin: 0 0 2em;
    }

        #playerCards > #cardContainer:hover {
            transform: translateY(-1em);
        }

        #playerCards > #cardContainer:not(:first-child) {
            margin-left: -3em;
        }

#gameContainer {
    border: dotted;
    display: grid;
    grid-row-start: 2;
    grid-column-end: 2;
    grid-template-rows: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
    grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
}


/* Koniec stylu Game.razor */
/* Poniżej jest styl Chat.razor */


#chatContainer {
    max-height: 100vh;
    grid-row: 1/3;
    grid-column-start: 2;
    display: grid;
    grid-template-rows: 7em auto 7em;
    grid-template-columns: 100%;
    background-color: var(--white);
}

    #chatContainer h1 {
        font-size: 1.5rem;
        font-weight: normal;
        margin-left: .1rem;
        vertical-align: middle;
        text-align: center;
    }

#players {
    padding-bottom: 1rem;
    grid-row: 1;
    display: grid;
    grid-template-rows: 2rem auto;
}

    #players h1 {
        grid-row: 1;
    }

ul.playerList {
    margin: 0;
    padding: 1em 0 0 0;
    font-size: 1.3rem;
    width: 100%;
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    grid-row: 2;
    grid-column: 1;
}

#chatContainer button {
    background-color: rgba(11, 5, 0, 0.1);
    border: none;
    border-radius: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    height: 2rem;
    width: 90%;
    transition: .2s;
    display: block;
    margin: 0 auto;
}

#players button {
    grid-column: 1;
    grid-row: 3;
}

#chatContainer button:hover {
    background-color: var(--white);
    color: var(--red);
    border: .2rem var(--red) solid;
}

#messages {
    width: 100%;
    border-top: .1rem solid rgba(11, 5, 0, 0.4);
    border-bottom: .1rem solid rgba(11, 5, 0, 0.4);
    display: block;
    margin: 0 auto;
    overflow-y: auto;
    grid-row: 2;
}

.message {
    min-width: 48%;
    max-width: 80%;
    overflow: auto;
    margin: .1rem .3rem 0 .3rem;
    overflow-wrap: anywhere;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    background-color: rgba(11, 5, 0, 0.1); /* var(--black);  */
}

#serverMessage {
    background-color: var(--black);
    width: 100%;
    text-align: center;
    font-size: smaller;
    color: var(--white);
    border-radius: 0;
    margin: 0 auto;
}

#myMessage {
    text-align: right;
    float: right;
    border-radius: 1em 1em 0 1em;
    padding-right: 1em;
    background-color: rgba(0, 168, 120, 0.4);
}

#othersMessage {
    text-align: left;
    float: left;
    background-color: rgba(11, 5, 0, 0.4);
    border-radius: 1em 1em 1em 0;
    padding-left: 1em;
}

#chatContainer > #form {
    grid-row: 3;
}

    #chatContainer > #form label {
        display: block;
        max-width: 90%;
        margin: .5rem auto;
        text-align: center;
    }

    #chatContainer > #form input {
        border: none;
        border-bottom: rgba(11, 5, 0, 0.4) solid .2rem;
        border-radius: .1em;
        background-color: rgba(11, 5, 0, 0.1);
        padding: .4em;
        margin: 0 .1em;
        width: 100%;
        height: 2.5em;
        transition: .2s;
    }

        #chatContainer > #form input:focus {
            border-bottom: .3rem solid var(--green);
            background-color: rgba(11, 5, 0, 0.01);
        }

    #chatContainer > #form button:hover {
        color: var(--green);
        border: .2rem var(--green) solid;
    }

/* Koniec stylu Chat.razor */
