* {
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: var(--black);
    
}

/* Div class "main", is the whole website, besides errors. Don't use any styles on it.
 * Div class "content px-4" is the container for actual content. Don't put any style on it either.
 * 
 * added classes: 
 * showIfDraggable 
*/
/* Login.razor style */

@media only screen and (max-width: 1800px) {

    /*.playerNameContainer{
        font-size: 23px;
    }*/

}


html, body {
    --main: rgb(51, 173, 255);
    --main_t: rgb(51, 173, 255, 0.5);
    --side: rgb(222, 245, 255);
    --side_t: rgb(222, 245, 255, 0.5);
    --border: rgba( 0,101,216,1);
    --border_t: rgba(0,101,216,0.5);
    --white: rgb(253, 247, 236);
    --white_t: rgb(253, 247, 236, 0.4);
    --black: #0B0500;
    --black_t: rgba(11,5,0,0.35);
    --red: rgba(254, 94, 65, 1);
    --red_t: rgba(254, 94, 65, 0.5);
    --green: rgb(27, 128, 117);
    --green_t: rgba(27,128,117,0.5);
    --background: linear-gradient(0deg, rgba(21,23,51,1) 10%, rgba(54, 58, 128,1) 80%);
    margin: 0;
    padding: 0;
}

#loading-1 {
    background: var(--background);
    height: 100vh;
    width: 100vw;
    display: flex;
}

#loading-2 {
    margin: auto;
    width: 100px;
    height: 100px;
    font-size: 30px
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background: var(--white);
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
    background: var(--white);
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--main); 
}

button {
    background-color: var(--black_t);
    color: var(--white);
    border: none;
    border-radius: 1rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    height: 2.4rem;
    width: 100%;
    transition: all .3s ease;
    display: block;
    margin: 0 auto;
    outline: 0;
    border: .13rem var(--black_t) solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

button *{
    line-height: 2rem;
}

    button img {
        height: 1.5rem;
        margin: auto 0;
        position: relative;
        transition: all .3s ease;
    }

button .not_hover {
    display: inherit;
}

button .hover {
    display: none;
}

    button:hover {
        background-color: var(--border_t);
        color: var(--white);
        border: .2rem var(--border) solid;
        box-shadow: 0 0 0.4rem var(--border);
    }

    button > span {
        margin: auto;
        position: relative;
    }

button:hover .not_hover {
    display: none;
}

button:hover .hover {
    display: inherit;
}
.singleRoomContainer button:hover {
    box-shadow: none;
}

#roomCreator button {
    background-color: var(--white);
    border: .13rem var(--white_t) solid;
}

label p {
    margin-left: .5rem;
    color: var(--white);
}

input {
    border: none;
    border-bottom: var(--white) solid .2rem;
    border-radius: 1rem;
    background-color: var(--white);
    padding: 1rem;
    margin: 0 0 .3rem 0;
    width: 100%;
    height: 2.5em;
    transition: all .3s ease;
    outline: 0;
}


input:focus {
    border-bottom: .2rem solid var(--border);
    background-color: var(--white);
    outline: 0;
}



#gameFrame {
    width: 100vw;
    height: 100vh;
    max-height: 100%;
    max-width: 100%;
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: 75% 25%;
    background: linear-gradient(0deg, rgba(21,23,51,1) 10%, rgba(54, 58, 128,1) 80%);
}

#loginContainer {
    height: 60%;
    min-height: 300px;
    width: 70%;
    min-width: 400px;
    padding: 1rem;
    border-radius: 1rem;
    border: .3rem var(--white) dashed;
    box-shadow: 0 0 1rem var(--border_t);
    color: var(--white);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 9rem 20% auto;
    grid-column-gap: 1%;
    grid-row-gap: 1%;
}

#roomCreator {
    display: grid;
    grid-template-columns: 100%;
    grid-column: 1 / span 1;
}

#roomBrowser {
    overflow-y: auto;
    overflow-x: hidden;
    grid-row: 1 / span 3;
    grid-column: 2;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    grid-column-gap: 7px;
}

.singleRoomContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 0 .5rem var(--border_t);
    transition: all .3s ease;
    padding: 1rem;
    margin: 1rem 0;
}

.singleRoomContainer:hover {
    transform: translateY(-1rem);
    transition: all .3s ease;
    box-shadow: 0 0 1rem var(--border);
}

.singleRoomContainer > div {
    margin-top: .5rem;
    text-align: center;
    color: var(--black)
}

.singleRoomContainer:hover > * {
    margin: 0;
    font-size: larger;
    font-weight: bolder;
}

    .singleRoomContainer button:hover {
        background-color: var(--black_t);
        color: var(--white);
        border: .2rem var(--black_t) solid;
        box-shadow: 0 0 0.4rem var(--black);
    }

.gameInfo {
    width: 100%;
    height: 100%;
    grid-row: 2 / span 1;
    grid-column: 1;
    padding: 1rem;
    background-color: var(--white);
    border: .3rem var(--white_t) solid;
    border-radius: .5rem;
    box-shadow: 0 0 .5rem var(--border_t);
    text-align: justify;
    overflow-y: hidden;
}

.aboutUs {
    width: 100%;
    height: 100%;
    grid-row: 3 /span 1;
    grid-column: 1;
    padding: 1rem;
    background-color: var(--white);
    border: .3rem var(--white_t) solid;
    border-radius: .5rem;
    box-shadow: 0 0 .5rem var(--border_t);
    text-align: justify;
    overflow-y: hidden;
}

.aboutUs span {
    font-weight: 600;
}

.chooseNickname {
    border-radius: 0 0 1rem 1rem;
    background-color: var(--black);
    border: .2rem var(--border) solid;
    color: var(--white);
    box-shadow: 0 0 .5rem var(--border);
    position: absolute;
    height: 300px;
    margin-top: -150px;
    margin-left: -181px;
    top: 50%;
    left: 50%;
    z-index: 10;
}

.chooseNickname header {
    height: 2rem;
    padding: .5rem 2rem;
    font-size: .8rem;
    font-weight: bold;
    letter-spacing: .3rem;
    text-transform: uppercase;
    background-color: var(--border);
}

.chooseNickname header > .left > span {
    color: var(--side);
}

.chooseNickname header button {
    float: right;
    background-color: var(--main);
    color: var(--red);
    font-size: 1.5rem;
    width: 2rem;
    height: 2rem;
    margin: 0;
    padding: 0;
    border: 0;
    top: 0;
    right: 0;
    border-radius: 0;
    position: absolute;
}

.chooseNickname header button:hover {
    background-color: var(--white);
    font-weight: 600;
    box-shadow: none;
}

.nicknameFormContainer {
    padding: 1rem 2rem;
    margin-top: 3rem;
}

.nicknameFormContainer span {
    color: var(--white);
    text-align: left;
    margin-left: .5rem;
}

.chooseNickname > button {
    background-color: var(--white_t);
    width: 85%;
}

.chooseNickname > button:hover {
    background-color: var(--white);
    color: var(--border);
}

.left{
    float:left;
}

.right{
    float:right;
}


/* Styl ogólny */

#readyContainer {
    position: relative;
    grid-row: 1/span 5;
    grid-column: 1/span 5;
}
#readyScreen {
    background-color: var(--main);
    border-radius: 1rem;
    border: .5rem var(--border) solid;
    box-shadow: 0 0 1rem var(--border);
    margin: 0 auto;
    width: 21rem;
    height: 8rem;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 30% 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    #readyScreen > h2 {
        color: var(--white);
        margin-bottom: .5rem;
        text-align: center;
        display: block;
        grid-row: 1;
        grid-column: 1/span 2;
    }

        #switch {
            position: relative;
            display: inline-block;
            margin-left: 10%;
            width: 80%;
            height: 2.4rem;
        }
      
        #switch input { 
            opacity: 0;
            width: 0;
            height: 0;
        }
      
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: var(--white);
            transition: all .3s ease;
            border-radius: 2rem;
            display: inline-block;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 2.4rem;
            width: 2.4rem;
            background-color: var(--red);
            transition: all .3s ease;
            border-radius: 50%;
            display: block;
        }
        
        /*input:checked + span {
            background-color: var(--green);
        }*/
        
        input:focus + .slider {
            box-shadow: 0 0 1rem var(--white);
        }
        
        input:checked + .slider:before {
            transform: translateX(2.4rem);
            background-color: var(--green);
        }

    #readyScreen > button {
        display: inline-block;
        width: 70%;
        opacity: 1;
        background-color: var(--green);
        transition: all .3s ease;
        grid-row: 2;
        grid-column: 2;
    }

        #readyScreen > button:disabled {
            opacity: .5;
            background-color: var(--red);
        }

        .error {
            color: var(--red);
        }

.activeBox {
    text-align: center;
    grid-row: 2/span 1;
    grid-column: 2/span 1;
}

.activeBox > h1{
    color: var(--white);
    text-align: center;
}




.cardsOnTable {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 13px;
}

.playerName {
    width: 100%;
    height: 100%;
    text-align: center;
    color: var(--white);
    font-size: 2rem;
    font-weight: 600;
    grid-row: 2/span 1;
    grid-column: 1/span 1;
}

.can-drop {
    background-color: rgba(0,124,0,0.4);
    width: 100%;
}

.no-drop {
    background-color: rgba(124,0,0,0.4);
    width: 100%;
}

.onhover {
    background-color: rgba(124,0,0,0.4);
}

#cardContainer {
    height: 10em;
    width: 6em;
    min-width: 80px;
    border-radius: 10px;
    background: var(--white);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    transition: all .3s ease;
    clear: both;
    position: relative;
    margin-left: 10px;
    padding: 0;
}

.cardColorContainer {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding: 0;
}

.cardColorText {
    text-align: center;
    font-weight: bolder;
    font-size: .8em;
}

.smallCardColorImage {
    left: 0;
    top: 0;
    display: block;
    margin: auto;
    width: 1em;
}

.bigCardColorImage {
    display: block;
    margin: auto;
    width: 3em;
}


#raisingPoints {
    height: 15rem;
    z-index: 10;
    display: grid;
    grid-template-rows: 3rem 3rem 3rem 3rem 3rem;
    grid-gap: .1rem;
    margin: auto;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-row: 2/ span 1;
}

.raisebuttonRow:nth-child(1) {
    grid-row: 1 / span 1;
}

.raisebuttonRow:nth-child(2) {
    grid-row: 2 / span 1;
}

.raisebuttonRow:nth-child(3) {
    grid-row: 3 / span 1;
}

.raisebuttonRow:nth-child(4) {
    grid-row: 4 / span 1;
}

#giveupButton {
    background-color: var(--black_t);
    height: 2rem;
    color: var(--white);
    margin-left: auto;
    margin-right: auto;
    margin-top: 4px;
    text-align: center;
}

.raiseButton {
    margin-top: 3px;
    width: 3rem;
    display: inline-block;
}

#cardsToTake {
    align-content: end;
    display: flex;
    margin: auto;
    grid-column: 1/span 2;
    grid-row: 1/ span 1;
}

#cardsToTake #cardContainer {
    margin: .1em;
    box-shadow: 0.5em 0 1em var(--black);
    margin-left: 10px;
}

#cardsToTake > #cardContainer {
}

    #cardsToTake > #cardContainer > .cardColorContainer {
        padding: 0.5rem;
    }

.waitingRoom {
    height: 100%;
    width: 100%;
    grid-row: 1 / span 10;
    position: relative;
    grid-column: 1 / span 10;
    background-color: var(--side);
}

.roomName {
    width: 100%;
}

.numOfUsers {
    width: 100%;
}

/* Poniżej jest styl Game.razor */

#middleTableSection {
    position: relative;
    grid-template-rows: 50% 50%;
    grid-template-columns: 75% 25%;
    display: grid;
}

#leaveButton {
    grid-column: 1;
    grid-row: 1/span 1;
    margin: 10px 0 0 10px;
}

#mandatoryContainer {
    height: 6.5em;
    display: block;
    margin: 15px auto 0 auto;
    grid-column: 1/span 2;
    grid-row: 1/span 1;
    border: dashed;
    border-color: rgba(54, 58, 128,1);
    padding: 10px;
}

#mandatoryText {
    color: var(--white);
    font-size: 25px;
}

#mandatoryImage {
    display: block;
    margin: auto;
    width: 50px;
}

#resultTable {
    border: dotted;
    width: 100%;
    max-height: 70%;
    min-height: 70%;
    color: white;
    background-color: red;
    grid-row: 1 / span 2;
    grid-column: 17 / span 4;
}

#tableContainer {
    width: 95%;
    height: 100%;
    background-color: var(--black_t);
    grid-row: 3/span 1;
    grid-column: 1/span 3;
    display: grid;
    grid-template-columns: 10em auto 10em;
    margin: 0 auto;
    border-radius: 12em;
}

.otherPlayer {
    width: 100%;
    position: relative;
    height: 100%;
    display: grid;
    grid-template-rows: 10% 2rem auto;
}

    .otherPlayer > .otherPlayerHand > #cardContainer {
        height: 6em;
        width: 10em;
        min-width: 80px;
        border-radius: 10px;
        background: var(--white);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        transition: all .3s ease;
        clear: both;
        position: relative;
        margin: 0;
        padding: 0;
    }
        .otherPlayer > .otherPlayerHand > #cardContainer:nth-child(1) {
            margin-top: -4.5em;
        }

    #rightPlayer #cardContainer {
        float: left;
        box-shadow: -0.5em 0 1em var(--black);
    }

    #leftPlayer #cardContainer {
        float: right;
        box-shadow: 0.5em 0 1em var(--black);
    }

.otherPlayerHand {
    grid-row: 3/span 1;
    height: auto;
    width: auto;
    align-content: center;
}

#rightPlayer {
    grid-column: 3/ span 1;
}

#leftPlayer {
    grid-column: 1/ span 1;
}

.showIfDraggable {
    width: 100%;
    height: 100%;
    z-index: 10;
    grid-column: 1/span 1;
    grid-row: 3/span 1;
}

#table {
    width: 70%;
    height: 200px;
    display: inline-block;
    position: relative;
    margin: 0 auto;
    grid-column: 1/ span 2;
    border: dashed;
    border-color: rgba(54, 58, 128,1);
}

#playerCardsContainer {
    grid-row: 4/ span 1;
    grid-column: 2/ span 1;
    display: flex;
    justify-content: center;
}

    #playerCardsContainer > #playerCards > #cardContainer {
        box-shadow: -0.5em 0 1em var(--black);
        transition: all .3s ease;
        padding: 1em;
        margin: 0 0 2em;
    }

    #playerCardsContainer > #playerCards > #cardContainer:hover {
        transform: translateY(-1em);
    }

        #playerCardsContainer > #playerCards > #cardContainer:not(:first-child) {
            margin-left: -1.8em;
        }

#playerCards {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    overflow-y: hidden;
    padding-top: 20px;
    overflow-x: auto;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#gameContainer {
    display: grid;
    grid-column: 1/span 1;
    grid-row: 1/ span 2;
    grid-template-rows: 7% 15% 55% 23%;
    grid-template-columns: 20% 60% 20%;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

    #gameContainer .unselectable > button {
        background-color: var(--red_t);
        grid-column: 1/span 1;
        grid-row: 1/span 1;
        z-index: 2137;
    }

#gameContainer .unselectable > button:hover {
    background-color: var(--white);
    color: var(--red);
    font-weight: 800;
    border: .2rem var(--red) solid;
}


/* Koniec stylu Game.razor */
/* Poniżej jest styl Chat.razor */


#chatContainer {
    max-height: 100vh;
    grid-row: 1/3;
    grid-column-start: 2;
    display: grid;
    grid-template-rows: 9em auto 5.7em;
    grid-template-columns: 100%;
    border-left: solid;
}

#chatContainer h1 {
    font-size: 1.5rem;
    font-weight: normal;
    margin-left: .1rem;
    vertical-align: middle;
    text-align: center;
}

#players {
    padding-bottom: 1rem;
    grid-row: 1;
    display: grid;
    grid-template-rows: 2rem auto;
}

#players h1 {
    grid-row: 1;
}

ul.playerList {
    margin: 0;
    padding: 1em 0 0 0;
    font-size: 1.3rem;
    width: 100%;
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-row: 2;
    grid-column: 1;
}

#messages {
    width: 100%;
    display: block;
    margin: 0 auto;
    overflow-y: auto;
    grid-row: 2;
}

.message {
    min-width: 51%;
    max-width: 80%;
    overflow: auto;
    overflow-wrap: anywhere;
    margin: 2px 0 0 0;
    padding: .5rem;
    display: table;
    flex-direction: column;
    background-color: var(--main_t);
    color: var(--white);
}

#serverMessage {
    background-color: var(--red_t);
    width: 100%;
    max-width: initial;
    border-radius: 1em;
    text-align: center;
    font-size: smaller;
    color: var(--white);
}

#myMessage {
    text-align: right;
    float: right;
    border-radius: 1em 1em 0 1em;
    padding-right: 1em;
    background-color: rgba(11,5,0,0.5);
}

#othersMessage {
    text-align: left;
    float: left;
    background-color: var(--white_t);
    border-radius: 1em 1em 1em 0;
    padding-left: 1em;
}

.messageNickaname{
    font-weight: 600;
}

#chatContainer > #form {
    grid-row: 3;
    display: flex;
}

    #chatContainer > #form button {
        box-shadow: none;
        width: 40px;
        margin: 0 0.5em auto 0.5em;
        border: .13rem var(--border) solid;
        display: flex;
        justify-content: center;
    }

    #chatContainer > #form label {
        display: block;
        width: 82%;
        margin: 0 0 auto 0.5em;
    }

    #chatContainer > #form input {
        border: .2rem solid var(--border);
        border-radius: 1em;
        background-color: var(--white);
        height: 3em;
        width: 100%;
    }

#chatContainer > #form input:focus {
    border: .2rem solid var(--border);
}

/* Koniec stylu Chat.razor */

/* LOADING */
.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    padding: 10px 0 0 25px;
}

    .lds-roller div {
        animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        transform-origin: 40px 40px;
    }

        .lds-roller div:after {
            content: " ";
            display: block;
            position: absolute;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background: #fff;
            margin: -4px 0 0 -4px;
        }

        .lds-roller div:nth-child(1) {
            animation-delay: -0.036s;
        }

            .lds-roller div:nth-child(1):after {
                top: 63px;
                left: 63px;
            }

        .lds-roller div:nth-child(2) {
            animation-delay: -0.072s;
        }

            .lds-roller div:nth-child(2):after {
                top: 68px;
                left: 56px;
            }

        .lds-roller div:nth-child(3) {
            animation-delay: -0.108s;
        }

            .lds-roller div:nth-child(3):after {
                top: 71px;
                left: 48px;
            }

        .lds-roller div:nth-child(4) {
            animation-delay: -0.144s;
        }

            .lds-roller div:nth-child(4):after {
                top: 72px;
                left: 40px;
            }

        .lds-roller div:nth-child(5) {
            animation-delay: -0.18s;
        }

            .lds-roller div:nth-child(5):after {
                top: 71px;
                left: 32px;
            }

        .lds-roller div:nth-child(6) {
            animation-delay: -0.216s;
        }

            .lds-roller div:nth-child(6):after {
                top: 68px;
                left: 24px;
            }

        .lds-roller div:nth-child(7) {
            animation-delay: -0.252s;
        }

            .lds-roller div:nth-child(7):after {
                top: 63px;
                left: 17px;
            }

        .lds-roller div:nth-child(8) {
            animation-delay: -0.288s;
        }

            .lds-roller div:nth-child(8):after {
                top: 56px;
                left: 12px;
            }

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
