@page "/new"

@inject NavigationManager  NavigationManager

<CascadingValue Value="this">
    <div style="border: dotted">
        @if(!joined)
        {
            <LoginComponent></LoginComponent>
        }
        else
        {
            <div class="row">
                <div class="col-9">
                    <GameComponent></GameComponent>
                </div>
                <div class="col-3">
                    <ChatComponent></ChatComponent>
                </div>
            </div>
        }
    </div>
</CascadingValue>


@code {
    public HubConnection hubConnection;
    public bool IsConnected => hubConnection.State == HubConnectionState.Connected;

    public bool joined = false;

    public List<UserModel> users = new List<UserModel>();
    public UserModel connectedUser;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/apphub"))
            .Build();

        await hubConnection.StartAsync();
    }

    public void Join(string UserName)
    {
        connectedUser = new UserModel(UserName);
        hubConnection.SendAsync(ClientToServer.JOIN_SERVER, connectedUser);
        joined = true;
    }
}
