<div class="form-group">
    <label>
        User:
        <input @bind="userName" @onkeyup="@KeyPress"/>
    </label>
</div>
<button @onclick="TryJoin">Join</button>
<div class="error">@errorType</div>

@code {
    [CascadingParameter] HubConnection hubConnection { get; set; }

    public string userName;
    public string errorType;

    public int numOfUsers;

    protected override async Task OnInitializedAsync()
    {
        hubConnection.On(ServerToClient.RECEIVE_CAN_NOT_JOIN, (string exception) =>
        {
            errorType = exception;
            StateHasChanged();
        });
    }

    async Task TryJoin() => await hubConnection.SendAsync(ClientToServer.TRY_JOIN_SERVER, new UserModel(userName));

    async Task KeyPress(KeyboardEventArgs e)
    {
        if(e.Key == "Enter")
            await TryJoin();
    }

}
