<div class="form-group">
    <label>
        User:
        <input @bind="userName" />
    </label>
</div>
<button @onclick="TryJoin" style="color:red">Join</button>
<div style="color: red">@errorType</div>

@code {
    [CascadingParameter] HubConnection hubConnection { get; set; }

    public string userName;
    public string errorType;

    public int numOfUsers;

    protected override async Task OnInitializedAsync()
    {
        hubConnection.On(ServerToClient.RECEIVE_CAN_NOT_JOIN, (string exception) =>
        {
            errorType = exception;
            StateHasChanged();
        });
    }

    void TryJoin() => hubConnection.SendAsync(ClientToServer.TRY_JOIN_SERVER, new UserModel(userName));

}
