<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <!-- <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" /> -->
    <link href="~/css/app.css" rel="stylesheet" />
</head>

<body>
    <div class="main">
        <!-- <div class="content px-4">  Even though its commented, it still shows on the website. It's better not to touch it.-->
            @RenderBody()
        <!-- </div> -->
    </div>
</body>

</html>
